////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}eventos {

    &__card {
        background-color: white;
        border-radius: rem(3);
        @include box-shadow(0 0 rem(5) color(default));
    }

    &__cards {
        margin-left: rem(24);
    }

    &__header {
        display: flex;
        background-color: #4479af;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        font-size: 1.07143rem;
        height: 52px;
        height: 3.71429rem;
        border-top-left-radius: 3px;
        border-top-left-radius: 0.21429rem;
        border-top-right-radius: 3px;
        border-top-right-radius: 0.21429rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }


    &__header-name {
        margin-left: 1rem;
    }

    &__date {
        color: #4479af;
        margin-top: rem(26);
        margin-left: rem(23);
        text-transform: uppercase;
        font-weight: bold;
    }



    &__circle {
    
        margin-left: 14px;
        border-radius: 1.78571rem;
        background-color: #4479af;
        color: white;
        width: 3.21429rem;
        height: 3.21429rem;
        padding-top: 1rem;
        padding-left: 0.28571rem;
    }

    &__a {
        text-decoration: underline;
        font-weight: bold;
        color: #4479af;
        width: 80%;
        display: block;
    }

    &__p {
        font-size: 12px;
        font-size: 0.92857rem;
    }

    &__div-container {
        display: flex;
        margin-bottom: 21px;
        margin-top: 10px;
        height: 57px;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    &__div {
        padding-top: rem(7);
        display: flex;
        flex-direction: column;
        width: 72%;
    }












}