////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}proyectos {

    &__card {
        background-color: white;
        border-radius: rem(3);
        box-shadow: (0 0 rem(5) #6c757d);
    }

    &__cards {
        margin-left: rem(24);
    }

    &__proyectos {
        margin-top: rem(35);
    }


    &__nav-background {
        background-color: #e3e8f2;
    }

    &__nav {
        width: 63%;
        


    }

    &__nav-background:after {
        content: "";
        width: 18%;
        margin-top: rem(1);
        height: rem(3);
        display: block;
        background-color: #4579b0;


    }


    &__projects-li:after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: #d6d8db;
        margin: rem(23) 0 rem(19) 0;
        display: block;
    }




    &__proyectos-step{
        font-size: rem(12);
        border-radius: rem(25);
        background-color: rgba(232, 238, 179, 0.8);
        padding-left: rem(10);
        padding-right: rem(10);
        margin-right: rem(10);
        color: black;
        height: rem(25);
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: center;

    }
    &__card-files {
        width: 70%;
        padding-top: rem(13);
    }
    

    &__proyectos-masDos {
        font-size: smaller;
        border-radius: rem(25);
        border: rem(3) solid rgba(232, 238, 179, 0.8);
        height: rem(25);
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        padding-left: rem(5);
        padding-right: rem(5);
    }

    &__content-projects {
        padding: rem(23) rem(23) 0 rem(25);
    }

    &__project-a {
        text-decoration: underline;
        color: #4479af;
        font-size: rem(15);
        font-weight: bold;
    }

    

    &__card-project-p {
        padding-top: rem(7);
    }
    


}




@media (max-width:1024px) {

    .#{$ns}proyectos {
        &__nav-projects {
            width: 100%;
            
        }
        &__nav-background:after {
            content: "";
            width: 27%;
            margin-top: rem(1);
            height: rem(3);
            display: block;
            background-color: #4579b0;
    
    
        }
        &__proyectos-step{
            font-size: rem(12);
            border-radius: rem(25);
            background-color: rgba(232, 238, 179, 0.8);
            padding-left: rem(10);
            padding-right: rem(10);
            margin-right: rem(5);
            color: black;
            height: rem(25);
            display: flex;
            font-weight: bold;
            justify-content: center;
            align-items: center;
    
        }
        &__card-files {
            width: 100%;
            padding-top: rem(13);
        }
        
    
        &__proyectos-masDos {
            font-size: smaller;
            border-radius: rem(25);
            border: rem(3) solid rgba(232, 238, 179, 0.8);
            height: rem(25);
            display: flex;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            padding-left: rem(5);
            padding-right: rem(5);
        }
        &__nav{
            width: 100%;
        }
    }
}

@media (max-width: 786px) {

    

    .#{$ns}proyectos {
        &__nav-projects {
            width: 100%;
        }
        &__nav{
            width: 100%;
        }
    }

}

@media (max-width: 600px) {
   

    .#{$ns}proyectos {
        &__nav-projects {
            width: 100%;
        }
        &__nav-background:after {
            content: "";
            width: 27%;
            margin-top: rem(1);
            height: rem(3);
            display: block;
            background-color: #4579b0;
    
    
        }
        &__proyectos-buscadorInteligente{
            font-size: rem(12);
        }
        &__proyectos-step{
            font-size: rem(9);
        }
    }

}

@media (max-width: 320px) {

   

    .#{$ns}proyectos {
        &__nav-projects {
            width: 100%;
        }
        &__nav-background:after {
            content: "";
            width: 27%;
            margin-top: rem(1);
            height: rem(3);
            display: block;
            background-color: #4579b0;
    
    
        }
        
    }
}