////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}notificaciones{

    &__card {
        background-color: white;
        border-radius: rem(3);
        box-shadow: (0 0 rem(5) grey);
    }

    &__cards{
        margin-left: rem(24);
    }

    &__header{
        background-color: #4479af;
        color: color(white);
        text-transform: uppercase;
        font-size: rem(15);
        height: rem(52);
        border-top-left-radius: rem(3); 
        border-top-right-radius: rem(3);
    }

    &__header-name{
        margin-top: rem(18);
        margin-left: rem(14);
    }

    &__content-notifications{
        padding: rem(20) rem(23) 0 rem(27);
    }
    &__content-notificationWL{
        
        
    }

    &__notification{
        margin-left: rem(24);
        height: rem(394);
    }

    &__notificaciones{
        margin-top: rem(42);
    }

    &__title-notification{
        width: 76%;
        font-weight: bold;
    }

     &__content-notification:after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: #e0e1e4;
        margin: rem(24) 0 rem(18) 0;
        display: block;
} 
&__deadline{
    display: flex;
    margin-top: rem(6);
    justify-content: space-evenly;
    width: 43%;
}
&__deadline p{
    font-size: rem(12);
}








    
    

    


}