////
/// ICON component
///
/// Custom project icon example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}icon-card {

    &__header-left{
        /*margin-top: 19px; */
    /* margin-top: 1.42857rem; */
    /* margin-left: 24px; */
    margin-left: 1.78571rem;
    }

    &__check-notification{
        color: #9ab000;
        margin-left: rem(40);
    }

    &__warning-notification{
        color: orange;
    }
   
}


