////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}emails{

    &__card {
        background-color: color(white-card);
        border-radius: rem(3);
        box-shadow: (0 0 rem(5) #6c757d);
    }

    &__cards{
        margin-left: rem(24);
    }

    &__header{
        background-color: #4479af;
        color: color(white);
        text-transform: uppercase;
        font-size: rem(15);
        height: rem(52);
        border-top-left-radius: rem(3);
        border-top-right-radius: rem(3);
    }

    &__header-name{
        margin-top: rem(18);
        margin-left: rem(14);
    }

    &__content-mail{
        margin-left: rem(28);
        margin-right: rem(26);
    }

    &__date-mail{
        font-size: rem(12); 
        margin-top: rem(19);
    }

    &__figure-mail{
        width: rem(21);
        margin-top: rem(10);
    }

    &__p-mail{
        margin-left: rem(5);
        margin-top: rem(14);
        font-size: rem(13);
    }

    &__mail-a{
        text-decoration:underline;
        color: #4479af;
        font-size: rem(15);
        font-weight: bold;
    }

    &__mail-p{
        padding-top: rem(10);
        padding-bottom: rem(10);
        font-size: rem(13);
        border-bottom: 1px solid #d6d8db;
        
        
    }
    &__mail-p-sl{
        padding-top: rem(10);
        font-size: rem(13);

    }
    &__profile{
        display: flex;
    }

}
.flexPruebaLi{
    display: flex;
    flex-direction: column;
}




/* 


@media (max-width:1024px) {


}

@media (max-width: 786px) {
    

}

@media (max-width: 600px) {
    

}

@media (max-width: 320px) {
    

}

*/