////
/// ICON component
///
/// Custom project icon example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}contact-card {



    &__card {
        background-color: white;
        border-radius: rem(3);
        box-shadow: (0 0 rem(5) #6c757d);
    }



    &__header {
        background-color: #4366a6;
        color: white;
        text-transform: uppercase;
        font-size: rem(15);
        height: rem(52);
        border-top-left-radius: rem(3);
        border-top-right-radius: rem(3);
    }

    &__header-name {
        margin-top: rem(18);
        margin-left: rem(14);
    }

    




    /*  &__nav-background::after {
        content: "";
        width: 32%;
        margin-top: rem(1);
        height: rem(3);
        display: block;
        background-color: #4579b0;
    } */

    &__content-contact {

        overflow-y: scroll;
        height: 365px;
        margin-left: 15px;
        margin-top: 10px;
        height: 26.07143rem;
    }

    &__content-profile:not(:last-child):after {
        content: "";
        width: 95%;
        height: rem(1);
        background-color: #d6d8db;
        margin: 0 0 rem(7) 0;
        display: block;
    }

    &__content-contact:not(:last-child):after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: #d6d8db;
        margin: rem(24) 0 rem(18) 0;
        display: block;
    }

    &__figure-contact {
        width: rem(42);
    }

    &__contact-p {

        margin-top: 3px;

    }

    &__contact-a {
        text-decoration: underline;
        color: #4479af;
        font-size: 15px;
        font-size: 1.07143rem;
        font-weight: bold;
    }


    &__contact-div {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 8px;
        padding-top: 8px;
    }

    &__scrollbar {
        height: rem(472);

    }

    &__prueba {
        display: flex;
    }

    &__contact-icon {
        margin-left: 10px;
        margin-top: 2px;
        color: #4479af;
        padding-right: 10px;
    }

    &__contact-info {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 8px;
    }

    



}

