////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}main {

    &__main {
        display: flex;
        flex-wrap: wrap;
        padding-top: rem(55);
        justify-content: space-evenly;
    }

    &__container-left {
        width: 23%;
        max-width: rem(314);
    }

    &__container-center {
        width: 50%;
        max-width: rem(604);
        min-width: 315px;
    }
    &__container-right{
        width: 23%;
        max-width: rem(314);
        height: rem(414);
        min-width: 262px;
    }

    



    &__bg {
        //background-image: url("../../../assets/images/paisaje.jpg");
        background: linear-gradient(to bottom, rgba(107, 247, 226, 0.646), rgba(255, 255, 255, 0.646));
    }

    &__card {
        background-color: white;
        border-radius: rem(3);
        box-shadow: (0 0 rem(5) grey);
    }

    &__card-header {
        display: flex;
        background-color: #4479af;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        font-size: 1.07143rem;
        height: 52px;
        height: 3.71429rem;
        border-top-left-radius: 3px;
        border-top-left-radius: 0.21429rem;
        border-top-right-radius: 3px;
        border-top-right-radius: 0.21429rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        
    }


    &__card-header-name {
        
        margin-left: 1rem;
    }

/* SUBTITULO*/

    &__nav-background {
        background-color: #e3e8f2;
    }

    &__li {
        background-color: #e3e8f2;
        justify-content: space-around;
        color: #4366a6;
        display: flex;
        align-items: baseline;
        justify-content: space-around;


    }

    &__li li {
        width: 33%;
        height: rem(40);
    }

    &__li-btn {
        width: 95%;
        height: 100%;
        cursor: pointer;
        color: #4479af;


    }

    &__li-btn--active {
        width: 95%;
        height: 100%;
        cursor: pointer;
        font-weight: bold;
        color: #4479af;
        border-bottom: 3px solid #4579b0;
    }
    




/*
        FIN SUBTITULO
*/
   

    

    &__card-footer {
        text-align: center;
        margin-top: rem(18);
    }

    &__card-footer-btn{
        border-top: 1px solid #e0e1e4;
        width: 100%;
        cursor: pointer;
        color: #4479af;
        font-weight: bold;
        height: rem(49);
    }


}


@media (max-width:1024px) {

    .#{$ns}main {
        &__container-left {
            min-width: 392px;
            width: 30%;
            
        }

        &__container-center {
            width: 30%;
            min-width: 392px;
            
        }
        &__container-right {
            width: 30%;
            
        }

    }

}

@media (max-width: 786px) {
    .#{$ns}main {
        &__container-left {
            width: 50%;
            min-width: 300px;
        }

        &__container-center {
            width: 50%;
            min-width: 300px;
        }
        &__container-right {
            margin-top: rem(20);
            width: 50%;
        }


    }

}

@media (max-width: 600px) {
    .#{$ns}main {
        &__main{
            margin-top: rem(0);
        }
        &__container-left {
            min-width: 288px;
            width: 45%;
            margin-top: rem(20);
            
        }

        

        &__container-center {
            min-width: 288px;
            width: 45%;
            margin-top: rem(20);
        }
        &__container-right {
            margin-top: rem(20);
            width: 100%;
        }


    }

}

@media (max-width: 320px) {
    .#{$ns}main {
        &__main{
            margin-top: rem(0);
        }
        &__container-left {
            min-width: 288px;
            width: 90%;
            margin-top: rem(20);
        }

        &__container-center {
            width: 90%;
            margin-top: rem(20);
        }
        &__container-right {
            width: 90%;
            margin-top: rem(20);
            margin-bottom: rem(400);
        }


    }

}